<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError{
        border-color: #bd2130;
    }
</style>
<body class="text-center">
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" action="/posts/create" method="post">
        <div class="form-group">
            <label for="members">작성자</label>
            <select name="memberId" id="members" class="form-control">
                <option th:each="member : ${members}"
                        th:value="${member.id}"
                        th:text="${member.nickname}" />
            </select>
        </div>
        <div class="form-group" th:object="${postForm}" >
            <label th:for="title">제목</label>
            <input type="text" th:field="*{title}" class="form-control"
                   placeholder="제목을 입력하세요"
                   th:class="${#fields.hasErrors('title')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('title')}"
               th:errors="*{title}">Incorrect date</p>
        </div>
        <div class="form-group" th:object="${postForm}" >
            <label th:for="contents">내용</label>
            <p>
                <textarea th:field="*{contents}" class="form-control" cols="70" rows="10" placeholder="내용을 입력하세요"
                         th:class="${#fields.hasErrors('contents')}? 'form-control fieldError' : 'form-control'">
                </textarea>
            </p>
            <p th:if="${#fields.hasErrors('contents')}"
               th:errors="*{contents}">Incorrect date</p>
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">저장</button>
    </form>
    <br/>
    <div th:replace="fragments/footer::footer"/>
</div> <!-- /container -->
</body>