<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="row" th:object="${findPost}">
        <div class="col-md-12">
            <div class="page-header">
                <h1 th:text="${findPost.title}"></h1>
            </div>
            </br>
            <span class="badge badge-default" th:text="${findPost.member.nickname}">작성자</span>
            <span class="badge badge-default" th:text="${#temporals.format(findPost.lastUpdateTime,'yyyy-MM-dd HH:MM:SS')}">작성 시간</span>
            </br></br></br>
            <p th:text="${findPost.contents}"></p>
        </div>
    </div>
    <br/>
    <div class="footer" th:fragment="footer">
        <p th:object="${findPost}" th:text="|댓글 수: ${findPost.comments.size()}|">댓글 수</p>
        <form role="form" action="/posts/addComment" method="post">
            <div class="form-group">
                <label for="members">작성자</label>
                <select name="memberId" id="members" class="form-control">
                    <option th:each="member : ${members}"
                            th:value="${member.id}"
                            th:text="${member.nickname}"/>
                </select>
            </div>
            <div class="form-group">
                <textarea class="form-control" th:object="${comment}" th:field="*{contents}"
                          cols="20" rows="5" placeholder="댓글을 작성해주세요"></textarea>
            </div>
            <button type="submit" class="btn btn-primary float-right">저장</button>
        </form>
        <p>&copy; My Board - DB</p>
    </div>
</div><!-- /container -->
</body>