<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table">
            <thead class="thead-light text-center">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>글쓴이</th>
                <th>생성일</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr  class="text-center" th:each="post : ${posts}">
                <td th:text="${post.id}"></td>
                <td>
                    <a th:href="@{'/posts/'+ ${post.id}}">
                        <span th:text="${post.title}"></span>
                    </a>
                </td>
                <td th:text="${post.member.nickname}"></td>
                <td th:text="${#temporals.format(post.lastUpdateTime,'yyyy-MM-dd HH:MM:SS')}"></td>
                <td th:text="${post.views}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer::footer"/>
</div> <!-- /container -->
</body>