<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>글쓴이</th>
                <th>생성일</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td th:text="${post.id}"></td>
                <td th:text="${post.title}"></td>
                <td th:text="${post.member.nickname}"></td>
                <td th:text="${post.lastUpdateTime}"></td>
                <td th:text="${post.views}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer::footer"/>
</div> <!-- /container -->
</body>